.App{
  border : 1px solid black;
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 5px;
  overflow-wrap: break-word;
  height: auto;
  max-height: auto;
  width: auto;
  
  margin: auto auto ;
}